body {
  margin: 0;
  background-color:#dcdde9;
}

header {
  width: 100%;
  height: 150px;
  background-color: black;
  background-image: url("../img/russian.jpg");
  background-size: cover;
  background-position: center center;
}

.gallery {
  margin: 50px 0;
  width: 100%;
}

.gallery .modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(170, 50%, 45%, 0.7);
  z-index: 1;
  display: none;
}
.gallery .modal .slider {
  height:100%;
  width:100%;
}

.gallery .modal div[class^="arrow"] {
  height: 60px;
  width: 60px;
  background-image: url("../img/arrow.png");
  background-size: cover;
  position: absolute;
  top: 300px;
}

.gallery .modal .arrowRight {
  right: 50px;
  z-index:999;
}

.gallery .modal .arrowLeft {
  left: 50px;
  z-index:999;
  transform: rotateY(180deg);
}

.miniatures div {
  height: 350px;
  width: 350px;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
}

.miniatures div:first-child {
  top: 500px;
  left: 160px;
  background-image: url("../img/meeting1.jpg");
  background-position: 375px;
}

.miniatures div:nth-child(2) {
  top: 500px;
  right: 160px;
  background-image: url("../img/meeting2.jpg");
  background-position: 375px;
}

.miniatures div:nth-child(3) {
  top: 1000px;
  left: 160px;
  background-image: url("../img/meeting3.jpg");
}

.miniatures div:nth-child(4) {
  top: 1000px;
  right: 160px;
  background-image: url("../img/meeting4.jpg");
  background-position: 575px;
}
.visible {
height:400px;
width:800px;
z-index:999;
position:fixed;
top:0;
left:360px;
}
.unvisible {
  display:none;
}
